.modificarMascota{
    background-image: url("../../../imagenes/estrellas_nevado.jpg");
    background-size: cover;
    min-height: 100vh;
}
.formModificarMascota{
    width: 22em;
    background-color: black;
    opacity: 0.8;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 7px grey;
    padding: 1em;
    border-radius: 20px;
}

.label{
    display: block;
    margin: 10px;
}

.sendButton{
    display: block;
    margin: 2em auto;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}
.formulario {
    height: 1em;
    width: 80em;
}

.labelModificarmascota{
    font-size: 30px;

}